@model IEnumerable<UserListResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row ml-2 mt-2">
    <div class="col-md-9">
        <table class="table table-bordered" style="display : block; height: 600px; overflow-y: scroll; overflow-x:auto">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad Soyad</th>
                    <th>E-Mail</th>
                    <th>Telefon Numarası</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.FullName</td>
                        <td>@item.UserMail</td>
                        <td>@item.PhoneNumber</td>
                        <td class="col-md-1"><a class="btn btn-warning" href="/Users/Edit/@item.Id">Düzenle</a> <a class="btn btn-danger sil" data-id="@item.Id">Sil</a>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{

<script>

         $(".sil").click(function(){
         let id = $(this).data('id');
         Swal.fire({
         title: 'Silmek istediğinize emin misiniz?',
         text: "Verileriniz kaybolabilir!",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Evet!',
         cancelButtonText:'Vazgeç'
         }).then((result) => {
         if (result.isConfirmed) {
         $.ajax({
         url:"/Users/Delete/" + id,
         method : "GET",
         success:function(data){
         if(data){
         Swal.fire({
              title :'İşlem Başarılı!',
               text : 'Veri silindi',
               type : 'success',
                 }).then(function(){
                location.reload();
                 });
               }  
             }
           })
          }
         })
        })

</script>
}