@model Book
@{
    ViewData["Title"] = "detailBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="blog-post-area">
            <div class="single-blog-post">
                <div class="row" style="height:75px;">
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <img src="@Model.ImageUrl" style="height:400px; width:auto">
                    </div>
                    <div class="col-md-4">

                        <div class="productinfo ">
                                    <h2>@Model.Name</h2>
                        </div>
                        <p>@Model.Description</p>

                        <div class="post-meta " >
                            <ul>

                                <li><i class="fa fa-user"></i> Yazar Adı : @Model.Writer.FullName</li>

                                <li><i class="fa fa-clock-o"></i> Sayfa Sayısı : @Model.TotalPages</li>
                                <br />
                                <br />
                                <li><i class="fa fa-calendar"></i> Yayın Tarihi : @Convert.ToDateTime(@Model.DateofPublish).ToString("dd-MM-yyyy")</li>
                                <br />
                                <div class="productinfo ">
                                    <h2>@Model.Price ₺</h2>
                                </div>
                            </ul>

                        </div>
                        <a class=" sepet btn btn-default add-to-cart " data-id="@Model.Id"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>

                    </div>
                </div>
                <div class="row" style="height:75px;">
                </div>
            </div>
        </div><!--/blog-post-area-->
    </div>

</div>


@section Scripts{

    <script>

        $(".sepet").on('click', function() {

            let id = $(this).data('id');
            $.ajax({
                url: '/Cart/Add/' + id,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    if (data.success) {
                        alertify.success(data.text);
                    }
                    else if (data.success == false) {
                        location.href = data.text;
                    }
                },
                error: function(error)
                {
                    location.href = "/Users/Login";
                }
            })
        });


    </script>

 }


