@*@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<BookListResponse>
@{*@
@model IEnumerable<BookListResponse>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="height:50px"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategoriler</h2>
                    @await Component.InvokeAsync("Category")
                    <div class="brands_products">
                        <h2>Yayın Evleri</h2>
                        @await Component.InvokeAsync("Publisher")
                    </div>

                    <input type="button" class="col-md-5 btn btn-warning ml-4" style="width:100% ; height:45px" value="Filtrele" id="filtre" />



                </div>

            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Kitaplar</h2>
                    @foreach (var item in Model)
                    {
                        <partial name="_BookCard" model="item" />
                    }
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i==ViewBag.CurrentPage ? "active":"")">
                                <a class="page-link page" asp-action="Index" asp-route-page="@i" asp-route-catId="@ViewBag.Category" data-id="@i">@i</a>
                                @*<a class="page-link page" data-id="@i">@i</a>*@
                            </li>
                        }
                    </ul>
                </div>

                @*@Html.PagedListPager((IPagedList)Model, page=> Url.Action("Index",new{page}))*@
            </div>
        </div>
    </div>
</section>
<br />
<br />

@section Scripts{

    <script>
        var flags;
        var flags2;

        $(".sepet").on('click', function() {

            let id = $(this).data('id');
            $.ajax({
                url: '/Cart/Add/' + id,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    if (data.success) {
                        alertify.success(data.text);
                    }
                    else if (data.success == false) {
                        location.href = data.text;
                    }
                },
                error: function(error)
                {
                    location.href = "/Users/Login";
                }
            })
        });

        $("#filtre").click(function() {
            var langPref2 = [];
            $.each($("input[name='filter2']:checked"), function() {
                langPref2.push($(this).val());
            });
            var langPref = [];
            $.each($("input[name='filter']:checked"), function() {
                langPref.push($(this).val());
            });
            var jsonvalues = JSON.stringify(langPref);
            var jsonvalues2 = JSON.stringify(langPref2);
            console.log(jsonvalues)
            console.log(jsonvalues2);

            $.ajax({
                url: "/Book/Index",
                data: { category: jsonvalues, publishers: jsonvalues2 },
                type: "GET",
                success: function(data) {
                    window.location = '/Book/Index';
                }
            })
        });
        $(".page").click(function() {
            var langPref2 = [];
            $.each($("input[name='filter2']:checked"), function() {
                langPref2.push($(this).val());
            });
            var langPref = [];
            $.each($("input[name='filter']:checked"), function() {
                langPref.push($(this).val());
            });
            let id = $(this).data('id');
            var jsonvalues = JSON.stringify(langPref);
            var jsonvalues2 = JSON.stringify(langPref2);

            $.ajax({
                url: "/Book/Index",
                data: { category: jsonvalues, publishers: jsonvalues2, page: id },
                type: "GET",
                success: function(data) {
                    window.location = '/Book/Index';
                },
            })
        });
        $("#btnMail").click(function() {

            let mail = $("#mail").val();

            $.ajax({
                url: "/Mail/SendMail",
                data: { email : mail },
                type: "POST",
                success: function(data) {
                    window.location = '/Book/Index';
                },
            })
        });


    </script>

 }

